* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

:root {
  --color-footer: #053B50;
  --color-botton: #176B87;
  --color-texts: #ffaa11;
  --color-texts-seconds: #dfdbdb;
  --color-texts-thrids: #383838;
  --color-change-background: #EEEEEE;
  --container-with: 80%;
  --padding-login: 15px;
}

body {
  overflow-x: hidden;
}

/* Title image */
.container_title-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
}

.title-image {
  height: 100%;
  width: 100%;
  filter: brightness(80%);
  object-fit: cover;
}

/* Navegation */
.container-nav {
  width: 100vw;
  overflow: hidden;
  position: fixed;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .3);
  z-index: 110;
}

.content-nav {
  padding: 3px 0;
}

.main-nav {
  width: var(--container-with);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_present-icon {
  display: inline-block;
  height: 55px;
  width: 55px;
}

.present-icon {
  height: 100%;
  width: 100%;
}

.item-list>a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.item-list>a:hover {
  text-decoration: underline;
}

.container_item-list {
  display: flex;
  justify-content: space-around;
}

.container_item-list {
  width: 40%;
  flex-grow: 1;
  max-width: 750px;
}

.item-list {
  display: inline-block;
  position: relative;
}

.show-phone {
  display: none;
}

/* general information */
.general-information {
  width: var(--container-with);
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.content_general-information {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.content_general-information>h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.3;
  text-decoration: underline;
}

.content_general-information>p {
  color: var(--color-texts-seconds);
}

.content-button-general-information {
  padding: 8px;
}

.content-button-general-information>button {
  border: none;
  border-radius: 5px;
  padding: 6px 16px;
  background-color: rgba(95, 95, 95, .7);
  box-shadow: -5px -5px rgba(0, 0, 0, .7);
}

.content-button-general-information>button>a {
  text-decoration: none;
  color: #ffffff;
}

/* About-us */
.about-us {
  height: 100vh;
  width: var(--container-with);
  margin: auto;
  overflow: hidden;
}

.content-about-us {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.visualizers-about-us {
  width: 60%;
  height: 60%;
  padding: 35px;
  position: relative;
}

.first-image-about-us {
  width: 80%;
  height: 75%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 25px;
}

.second-image-about-us {
  width: 70%;
  height: 75%;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  border-radius: 25px;
}

/* Text-about-us */
.texts-about-us {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.texts-about-us>h5 {
  color: var(--color-texts);
}

.texts-about-us>h3 {
  font-size: 2.2rem;
}

.texts-about-us>p {
  color: var(--color-texts-thrids);
}

.texts-about-us>a {
  color: #ffffff;
  background-color: var(--color-botton);
  width: max-content;
  padding: 6px 16px;
  border-radius: 5px;
  text-decoration: none;
}

/* Explore */
.container-explore {
  background-color: var(--color-change-background);
}

.explore-content {
  height: 100vh;
  width: var(--container-with);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.explore>h5 {
  color: var(--color-texts);
}

.explore>h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
}

.explore p {
  color: var(--color-texts-thrids);
}

.icon-text-explore {
  display: flex;
  align-items: center;
}

.icon-text-explore i {
  display: block;
  font-size: 2rem;
  border-radius: 50%;
  text-align: center;
}

.content-icon-explore {
  background-color: var(--color-footer);
  width: 90px;
  height: 90px;
  shape-outside: circle();
  clip-path: circle();
  margin: 0 12px 0 0px;
  overflow: hidden;
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
}

.icon-text-explore h4 {
  font-size: 1.2rem;
}

.icon-text-explore p {
  color: var(--color-texts-thrids);
}

/* bgc-color-circles-explore */
.circle-1 {
  background-color: #00d2d3;
  color: #087979;
}

.circle-2 {
  background-color: #82baff;
  color: #005cb8;
}

.circle-3 {
  background-color: #5f27cd;
  color: #1b0a64;
}

/* Collage-pictures-explore */
.images-explore-collage-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-explore-collage-content {
  display: grid;
  height: 65%;
  width: 75%;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
  gap: 5px;
}

.images-explore-collage-content>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* border-pictures */
.one-img-explore {
  border-radius: 0 65px 0 65px;
}

.two-img-explore {
  border-radius: 65px 0 65px 0;
}

.three-img-explore {
  border-radius: 65px 0 65px 0;
}

.four-img-explore {
  border-radius: 0 65px 0 65px;
}

/* Popular-section */
.destination {
  width: var(--container-with);
  margin: auto;
  overflow: hidden;
  height: 100vh;
}

.destination-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.2rem;
}

.text-destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.text-destination>h5 {
  color: var(--color-texts);
}

.text-destination>h3 {
  font-size: 2.2rem;
}

.text-destination>p {
  color: var(--color-texts-thrids);
}

/* Popular-gallery */
.gallery-popular {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
  overflow: hidden;
}

.content_picture-popular>img {
  height: 370px;
  width: 250px;
  object-fit: cover;
  border-radius: 15px;
  filter: contrast(75%);
  transition: filter .3s;
}

.content_picture-popular>img:hover {
  filter: contrast(100%);
}

.content_picture-popular {
  position: relative;
}

.show-price {
  position: absolute;
  bottom: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  width: 100%;
  border-radius: 0 0 15px 15px;
  color: #dfdbdb;
}

.description-place-popular>h6,
.description-place-popular>p {
  font-size: 15px;
}

.price-place-popular>p {
  text-decoration: underline;
}

/* Our-blogs */
.our-blogs {
  background-color: var(--color-change-background);
  overflow: hidden;
}

.our-blog-content {
  height: 100vh;
  width: var(--container-with);
  margin: auto;
}

.text-blogs-present {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 25%;
  text-align: center;
}

.text-blogs-present>h5 {
  color: var(--color-texts);
}

.text-blogs-present>h3 {
  font-size: 2.2rem;
}

.text-blogs-present>p {
  color: var(--color-texts-thrids);
}

.our-blogs-cards {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: end;
  margin: auto;
  gap: 1.2rem;
  padding: 1rem;
}

.our-blogs-cards div:last-child,
.our-blogs-cards div:nth-child(3) {
  place-self: start;
}

.container_card-blog {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 8px 8px rgba(0, 0, 0, .1);
}

.content_image-blog {
  height: 100%;
  width: 100%;
}

.content_image-blog>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-information-blog {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}

.card-information-blog>h4 {
  font-size: 20px;
  text-transform: capitalize;
}

.card-information-blog p {
  color: var(--color-texts-thrids);
  font-size: 14px;
}

.card-information-blog a {
  text-decoration: underline;
  color: #000000;
}

/* Footer */
.footer {
  width: 100vw;
  overflow: hidden;
}



.content-footer {
  width: var(--container-with);
  margin: auto;
  padding: 2rem 0 1rem 0;
}

.information-footer {
  display: flex;
  justify-content: space-between;
}

.information-footer>div>h6 {
  font-size: 2.2rem;
}

.space-information {
  display: flex;
  gap: 1.2rem;
}

.space-information>div {
  width: max-content;
}

.space-information>div>h6 {
  font-size: 1.2rem;
  padding-bottom: 12px;
}

.information-footer>div>p,
.space-information>div>p {
  font-size: 1rem;
}

.about-us-footer {
  width: 40%;
}

.social-link-links {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.social-link-links>p>a {
  color: #000000;
}

.social-link-links>p>a>i {
  font-size: 1.2rem;
}

.container_credits-footer {
  width: 100vw;
  background-color: var(--color-footer);
}

.credits-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--container-with);
  margin: auto;
  padding: 5px;
  color: #fff;
  text-align: center;
}

@media (max-width:575px) {

  body {
    width: 100vw;
    overflow-x: hidden;
  }

  .container-nav {
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, .7);
  }

  .show-phone {
    display: block;
    color: #ffffff;
    position: absolute;
    top: 8px;
    right: 1rem;
  }

  .show-phone>i {
    font-size: 2rem;
  }

  .container-close-navbar {
    display: none;
    font-size: 2.2rem;
  }

  .container_item-list {
    display: none;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.4rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 300;
  }

  .container_item-list>li {
    background-color: #000;
    border-radius: 4px;
    padding: 4px 6px;
    color: #ffffff;
    list-style-type: none;
    font-size: 1.4rem;
    width: 90%;
    text-align: center;
  }

  .container_item-list>li:last-child {
    background-color: var(--color-botton);
  }

  /* information-general */
  .general-information {
    width: 100vw;
    padding: 20px;
  }

  .content_general-information {
    width: 90%;
  }

  .content_general-information>h1 {
    font-size: 2.3rem;
  }

  .content_general-information>p {
    font-size: 1rem;
  }

  /* About-us */
  .about-us {
    width: 100vw;
    padding: 20px 10px;
    height: max-content;
  }

  .content-about-us {
    grid-template-columns: 1fr;
    place-content: center;
    gap: 1.7rem;
  }

  .content-about-us>div:last-child {
    grid-row: 1/-1;
  }

  .visualizers-about-us {
    height: 290px;
    width: 240px;
  }

  .texts-about-us>h3 {
    font-size: 1.8rem;
  }

  .texts-about-us>p {
    font-size: 1rem;
  }

  /* Explore */
  .container-explore {
    width: 100vw;
    padding: 20px 10px;
    height: max-content;
  }

  .explore-content {
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh, 60vh;
    padding: 0;
    gap: 1.8rem;
  }

  .icon-text-explore {
    margin-top: 4px;
  }

  .explore>h3 {
    font-size: 1.8rem;
  }

  .explore h4 {
    font-size: 1.1rem;
  }

  .explore>p {
    font-size: 1rem;
  }

  .images-explore-collage-content {
    height: 250px;
    width: 250px;
  }

  /* popular-Destination */
  .destination {
    width: 100vw;
    padding: 20px 10px;
    height: max-content;
  }

  .destination-content {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .text-destination>h3 {
    font-size: 1.8rem;
  }

  .text-destination>p {
    font-size: 1rem;
  }

  .gallery-popular {
    overflow-x: scroll;
    justify-content: start;
  }

  .gallery-popular::-webkit-scrollbar {
    display: none;
  }

  /* Blog */
  .our-blog-content {
    width: 100vw;
    padding: 20px 10px;
    height: max-content;
  }

  .our-blogs-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 4);
    width: 100%;
  }

  /* Footer */
  .footer {
    width: 100vw;
    height: max-content;
  }

  .content-footer {
    width: 100%;
    padding: 10px;
    padding: 20px 10px;
  }

  .information-footer {
    gap: 1rem;
    flex-direction: column;
    width: 100%;
  }

  .about-us-footer {
    width: 100%;
  }

  .space-information {
    flex-wrap: wrap;
  }

  .social-link-links {
    justify-content: center;
  }
}