* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-footer: #053B50;
  --color-botton: #176B87;
  --color-texts: #ffaa11;
  --color-texts-seconds: #dfdbdb;
  --color-texts-thrids: #383838;
  --color-change-background: #EEEEEE;
  --container-with: 80%;
  --padding-login: 15px;
  --padding-section: 2rem 0;
  --padding-section-mobile: 60px 20px;
  --title-size: 2.2rem;
  --subtitle-size: 1.8rem;
  --text-size: 1rem;
  --separation-size: 1.2rem;
}

body {
  overflow-x: hidden;
}