/* Title image */
.header__title-image-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
}

.header__title-image {
  height: 100%;
  width: 100%;
  filter: brightness(80%);
  object-fit: cover;
}

/* Navegation */
.header__nav-container {
  width: 100vw;
  overflow: hidden;
  position: fixed;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .3);
  z-index: 110;
}

.header__nav-content {
  padding: 3px 0;
}

.nav {
  width: var(--container-with);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo-container {
  display: inline-block;
  height: 55px;
  width: 55px;
}

.nav__logo {
  height: 100%;
  width: 100%;
}

.nav__menu-item {
  display: inline-block;
  position: relative;
}

.nav__menu-item>a {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.3rem;
  position: relative;
}

.nav__menu-item>a::after {
  content: '';
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background-color: #fff;
  transition: width .2s ease-in;
}

.nav__menu-item>a:hover:after {
  width: 100%;
}

.nav__menu {
  display: flex;
  justify-content: space-evenly;
}

.nav__menu {
  width: 50%;
  flex-grow: 1;
  max-width: 625px;
}

.show-phone {
  display: none;
}

/* general information */
.header__info {
  width: var(--container-with);
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header__info-content {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: var(--separation-size);
}

.header__info-content>h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.3;
  text-decoration: underline;
}

.header__info-content>p {
  color: var(--color-texts-seconds);
  font-size: var(--text-size);
}

.header__info-button {
  padding: 8px;
}

.header__info-button>button {
  border: none;
  border-radius: 5px;
  background-color: rgba(95, 95, 95, .7);
  box-shadow: -5px -5px rgba(0, 0, 0, .7);
  padding: 6px 16px;
}

.header__info-button a {
  text-decoration: none;
  font-size: var(--text-size);
  color: #ffffff;
}

/* About-us */
.about-us {
  height: 100vh;
  width: var(--container-with);
  margin: auto;
  overflow: hidden;
  padding: var(--padding-section);
}

.about-us__content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.about-us__visuals {
  width: 60%;
  height: 60%;
  padding: 35px;
  position: relative;
}

.about-us__image--first {
  width: 80%;
  height: 75%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 25px;
}

.about-us__image--second {
  width: 70%;
  height: 75%;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  border-radius: 25px;
}

/* Text-about-us */
.about-us__texts {
  display: flex;
  flex-direction: column;
  gap: var(--separation-size);
}

.about-us__texts>h5 {
  color: var(--color-texts);
}

.about-us__texts>h3 {
  font-size: 2.2rem;
}

.about-us__texts>p {
  color: var(--color-texts-thrids);
}

.about-us__texts>a {
  color: #ffffff;
  background-color: var(--color-botton);
  width: max-content;
  padding: 6px 16px;
  border-radius: 5px;
  text-decoration: none;
}

/* Explore */
.explore {
  background-color: var(--color-change-background);
}

.explore__content {
  height: 100vh;
  width: var(--container-with);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  padding: var(--padding-section);
}

.explore__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--separation-size);
}

.explore__text>h5 {
  color: var(--color-texts);
}

.explore__text>h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
}

.explore__description p {
  color: var(--color-texts-thrids);
}

.explore__feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.explore__icon {
  background-color: var(--color-footer);
  width: 90px;
  height: 90px;
  shape-outside: circle();
  clip-path: circle();
  margin: 0 12px 0 0px;
  overflow: hidden;
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
}

.explore__icon i {
  display: block;
  font-size: 2rem;
  border-radius: 50%;
  text-align: center;
}

/* bgc-color-circles-explore */
.explore__icon--circle1 {
  background-color: #00d2d3;
  color: #087979;
}

.explore__icon--circle2 {
  background-color: #82baff;
  color: #005cb8;
}

.explore__icon--circle3 {
  background-color: #5f27cd;
  color: #1b0a64;
}

.explore__description h4 {
  font-size: 1.2rem;
}

.explore__description p {
  color: var(--color-texts-thrids);
}

/* Collage-pictures-explore */
.explore__gallery {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore__gallery-content {
  display: grid;
  height: 65%;
  width: 75%;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
  gap: 5px;
}

.explore__gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* border-pictures */
.explore__gallery-image--1 {
  border-radius: 0 65px 0 65px;
}

.explore__gallery-image--2 {
  border-radius: 65px 0 65px 0;
}

.explore__gallery-image--3 {
  border-radius: 65px 0 65px 0;
}

.explore__gallery-image--4 {
  border-radius: 0 65px 0 65px;
}

/* destination-section */
.destination {
  width: var(--container-with);
  margin: auto;
  overflow: hidden;
  min-height: 100vh;
  padding: var(--padding-section);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.destination-content {
  height: 100%;
}

.destination__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: var(--separation-size);
  margin-bottom: var(--separation-size);
}

.destination__texts>h5 {
  color: var(--color-texts);
}

.destination__texts>h3 {
  font-size: 2.2rem;
}

.destination__texts>p {
  color: var(--color-texts-thrids);
}

/* destination-gallery */
.destination__gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
  overflow: hidden;
}

.destination__card>img {
  height: 370px;
  width: 250px;
  object-fit: cover;
  border-radius: 15px;
  filter: contrast(75%);
  transition: filter .3s;
}

.destination__card>img:hover {
  filter: contrast(100%);
}

.destination__card {
  position: relative;
}

.destination__price-info {
  position: absolute;
  bottom: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  width: 100%;
  border-radius: 0 0 15px 15px;
  color: #dfdbdb;
}

.destination__description>h6,
.destination__description>p {
  font-size: 15px;
}

.destination__description>p {
  text-decoration: underline;
}

/* blogs-section */
.blogs {
  background-color: var(--color-change-background);
  overflow: hidden;
  padding: var(--padding-section);
}

.blogs__content {
  height: 100vh;
  width: var(--container-with);
  margin: auto;
}

.blogs__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 25%;
  text-align: center;
}

.blogs__header>h5 {
  color: var(--color-texts);
}

.blogs__header>h3 {
  font-size: 2.2rem;
}

.blogs__header>p {
  color: var(--color-texts-thrids);
}

.blogs__cards {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: end;
  margin: auto;
  gap: 1.2rem;
  padding: 1rem;
}

.blogs__card div:last-child,
.blogs__card div:nth-child(3) {
  place-self: start;
}

.blogs__card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 8px 8px rgba(0, 0, 0, .1);
}

.blogs__image {
  height: 100%;
  width: 100%;
}

.blogs__image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogs__info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}

.blogs__info>h4 {
  font-size: 20px;
  text-transform: capitalize;
}

.blogs__info p {
  color: var(--color-texts-thrids);
  font-size: 14px;
}

.blogs__info a {
  text-decoration: underline;
  color: #000000;
}

/* Footer */
.footer {
  width: 100vw;
  overflow: hidden;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: var(--container-with);
  margin: auto;
  padding: var(--padding-section);
}

.footer__sections {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer__sections {
  display: flex;
  gap: 1.2rem;
}

.footer__sections>div {
  width: max-content;
}

.footer__sections>div>h6,
.footer__about h6 {
  font-size: 1.2rem;
  padding-bottom: 12px;
}

.about-us-footer {
  width: 40%;
}

.footer__contact>a {
  display: block;
  text-decoration: none;
  color: #000;
}

.footer__social-links {
  display: flex;
  width: 100%;
  gap: .4rem;
}

.footer__social-links>p>a {
  color: #000000;
}

.footer__social-links i {
  font-size: 1.5rem;
}

.footer__credits {
  width: 100vw;
  background-color: var(--color-footer);
}

.footer__credits-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--container-with);
  margin: auto;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.footer__credits-content>p {
  font-size: 1.1rem;
}

.footer__credits-content span {
  font-weight: bold;
}

@media (max-width:575px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }

  .container-nav {
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, .7);
    overflow: hidden;
  }

  .show-phone {
    display: block;
    color: #ffffff;
    position: absolute;
    top: 8px;
    right: 1rem;
  }

  .show-phone>i {
    font-size: 2rem;
  }

  .container-close-navbar {
    display: none;
    font-size: 2.2rem;
  }

  .container_item-list {
    display: none;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.4rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 300;
  }

  .container_item-list>li {
    background-color: #000;
    border-radius: 4px;
    padding: 4px 6px;
    color: #ffffff;
    list-style-type: none;
    font-size: 1.4rem;
    width: 90%;
    text-align: center;
  }

  .container_item-list>li:last-child {
    background-color: var(--color-botton);
  }

  /* information-general */
  .general-information {
    width: 100vw;
    padding: 20px;
  }

  .content_general-information {
    width: 90%;
  }

  .content_general-information>h1 {
    font-size: 2.3rem;
  }

  .content_general-information>p {
    font-size: 1rem;
  }

  /* About-us */
  .about-us {
    width: 100vw;
    padding: 20px 10px;
    height: max-content;
  }

  .content-about-us {
    grid-template-columns: 1fr;
    place-content: center;
    gap: 1.7rem;
  }

  .content-about-us>div:last-child {
    grid-row: 1/-1;
  }

  .visualizers-about-us {
    height: 290px;
    width: 240px;
  }

  .texts-about-us>h3 {
    font-size: 1.8rem;
  }

  .texts-about-us>p {
    font-size: 1rem;
  }

  /* Explore */
  .container-explore {
    width: 100vw;
    padding: 20px 10px;
    height: max-content;
  }

  .explore-content {
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh, 60vh;
    padding: 0;
    gap: 1.8rem;
  }

  .icon-text-explore {
    margin-top: 4px;
  }

  .explore>h3 {
    font-size: 1.8rem;
  }

  .explore h4 {
    font-size: 1.1rem;
  }

  .explore>p {
    font-size: 1rem;
  }

  .images-explore-collage-content {
    height: 250px;
    width: 250px;
  }

  /* popular-Destination */
  .destination {
    width: 100vw;
    padding: 20px 10px;
    height: max-content;
  }

  .destination-content {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .text-destination>h3 {
    font-size: 1.8rem;
  }

  .text-destination>p {
    font-size: 1rem;
  }

  .gallery-popular {
    overflow-x: scroll;
    justify-content: start;
  }

  .gallery-popular::-webkit-scrollbar {
    display: none;
  }

  /* Blog */
  .our-blog-content {
    width: 100vw;
    padding: 20px 10px;
    height: max-content;
  }

  .our-blogs-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 4);
    width: 100%;
  }

  /* Footer */
  .footer {
    width: 100vw;
    height: max-content;
  }

  .content-footer {
    width: 100%;
    padding: 10px;
    padding: 20px 10px;
  }

  .information-footer {
    gap: 1rem;
    flex-direction: column;
    width: 100%;
  }

  .about-us-footer {
    width: 100%;
  }

  .space-information {
    flex-wrap: wrap;
  }

  .social-link-links {
    justify-content: center;
  }
}

@media (min-width: 576px) and (max-width: 980px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }

  .container-nav {
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, .7);
    overflow: hidden;
  }

  .show-phone {
    display: block;
    color: #ffffff;
    position: absolute;
    top: 8px;
    right: 1rem;
  }

  .show-phone>i {
    font-size: 2.2rem;
  }

  .container-close-navbar {
    display: none;
    font-size: 2.4rem;
  }

  .container_item-list {
    display: none;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.4rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 300;
  }

  .container_item-list>li {
    background-color: #000;
    border-radius: 4px;
    padding: 4px 6px;
    color: #ffffff;
    list-style-type: none;
    font-size: 1.4rem;
    width: 90%;
    text-align: center;
  }

  .container_item-list>li:last-child {
    background-color: var(--color-botton);
  }

  /* information-general */
  .general-information {
    width: 100vw;
    padding: 20px;
  }

  .content_general-information {
    width: 90%;
  }

  .content_general-information>h1 {
    font-size: 3rem;
  }

  .content_general-information>p {
    font-size: 2.1rem;
  }

  /* About-us */
  .about-us {
    width: 100vw;
    padding: 20px 10px;
    height: max-content;
  }

  .content-about-us {
    grid-template-columns: 1fr;
    place-content: center;
    gap: 1.7rem;
  }

  .content-about-us>div:last-child {
    grid-row: 1/-1;
  }

  .visualizers-about-us {
    height: 290px;
    width: 240px;
  }

  .texts-about-us>h3 {
    font-size: 1.8rem;
  }

  .texts-about-us>p {
    font-size: 1rem;
  }

  /* Explore */
  .container-explore {
    width: 100vw;
    padding: 20px 10px;
    height: max-content;
  }

  .explore-content {
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh, 60vh;
    padding: 0;
    gap: 1.8rem;
  }

  .icon-text-explore {
    margin-top: 4px;
  }

  .explore>h3 {
    font-size: 1.8rem;
  }

  .explore h4 {
    font-size: 1.1rem;
  }

  .explore>p {
    font-size: 1rem;
  }

  .images-explore-collage-content {
    height: 250px;
    width: 250px;
  }

  /* popular-Destination */
  .destination {
    width: 100vw;
    padding: 20px 10px;
    height: max-content;
  }

  .destination-content {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .text-destination>h3 {
    font-size: 1.8rem;
  }

  .text-destination>p {
    font-size: 1rem;
  }

  .gallery-popular {
    overflow-x: scroll;
    justify-content: center;
  }

  .gallery-popular::-webkit-scrollbar {
    display: none;
  }

  /* Blog */
  .our-blog-content {
    width: 100vw;
    padding: 20px 10px;
    height: max-content;
  }

  .our-blogs-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 4);
    width: 100%;
  }

  /* Footer */
  .footer {
    width: 100vw;
    height: max-content;
  }

  .content-footer {
    width: 100%;
    padding: 10px;
    padding: 20px 10px;
  }

  .information-footer {
    gap: 1rem;
    flex-direction: column;
    width: 100%;
  }

  .about-us-footer {
    width: 100%;
  }

  .space-information {
    flex-wrap: wrap;
  }

  .social-link-links {
    justify-content: center;
  }
}